name: Scheduler

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-scheduler:
    runs-on: ubuntu-latest

    steps:
      - name: Call scheduler endpoint
        run: |
          curl -X GET https://themify-theme-scheduler.fly.dev/cron-run \
            -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"
